@import "tailwindcss";

body {
  @apply bg-slate-900 text-slate-100 font-sans antialiased;
}

@keyframes price-up {
  0% {
    color: #10b981;
    transform: scale(1.05);
  }

  100% {
    color: #10b981;
    transform: scale(1);
  }
}

@keyframes price-down {
  0% {
    color: #ef4444;
    transform: scale(1.05);
  }

  100% {
    color: #ef4444;
    transform: scale(1);
  }
}

.animate-up {
  animation: price-up 0.5s ease-out;
}

.animate-down {
  animation: price-down 0.5s ease-out;
}